@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;500;700&display=swap');
$font-family-sans-serif: 'Jost', 'helvetica', sans-serif;
$font-family-base: 'Jost', 'helvetica', sans-serif;
$font-size-base: 1rem;
$primary: #75070C; 
$headings-font-family: 'Crimson Pro', 'Cambria', 'Georgia', 'Times New Roman', serif; 
$headings-font-size: (
  h1: 2rem,
  h2: 1.5rem,
  h3: 2rem,
  h4: .75rem,
  h5: .5rem,
  h6: .25rem
);

// TEI handling
.tei-l::after {
         display: block;
         float: right;    
         text-align: right;
         content: attr(data-line);
         color: #999999;
}                      

// Import Bootstrap's SCSS
@import "../node_modules/bootstrap/scss/bootstrap";

.large-padding {
  padding-left: 8rem;
  padding-right: 8rem;
}
